<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light cbp-af-header"
    role="navigation">

    <a class="navbar-brand" href="#top">
      <img src="../../../assets/images/home/logoBig.png" alt="Pixel Fury Team"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item"><a href="/register" class="nav-link" routerLink="register">Register</a></li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#characters">Characters</a></li>
        <li class="nav-item"><a class="nav-link" href="#admin" *ngIf="isAdmin">Admin</a></li>
        <li class="nav-item"><a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>

  </nav>


  
