<section id="characters" class="row fadeInDown">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">name</th>
        <th scope="col">armadura</th>
        <th scope="col">mal</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let character of characters">
          <td>{{character.name}}</td>
          <td>{{character.armadura}}</td>
          <td>{{character.mal}}</td>
        </tr>
    </tbody>
  </table>

</section>
