<app-header></app-header>
<!--sections-->
<div class="container-fluid" id="top">
    <section class="row title-row">
    <div class="fill-screen" style="background-image: url(../../../assets/images/home/lake-dark.jpg)">
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-xs-12" style="margin-top: 200px;">
              <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    [(ngModel)]="form.username"
                    required
                    #username="ngModel"
                  />
                  <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.invalid">
                    Username is required!
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="4"
                    #password="ngModel"
                  />
                  <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                      Password must be at least 6 characters
                    </div>
                  </div>
                </div>
                <div class="form-group" style="float: right;">
                  <button class="btn btn-primary btn-block">
                    Login
                  </button>
                </div>
                <div class="form-group">
                  <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                    Login failed: {{ errorMessage }}
                  </div>
                </div>
              </form>
              <div class="alert alert-success" *ngIf="isLoggedIn" style="margin-bottom: 100px;">
                Logged in as {{ role }}.
              </div>
        </div>
        <div class="row down-button" *ngIf="isLoggedIn">
            <a class="btn" href="#characters">
                <fa-icon [icon]="faArrowAltCircleDown" size="4x"></fa-icon>
            </a>
        </div>
        <div class="col-md-2"></div>
        </div>
    </div>
    </section>
    <app-characters *ngIf="isLoggedIn"></app-characters>
</div>